.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  height: 2rem;
  background-color: #0D141F;
  padding: 3rem;
  border-top: 1px solid #197CAE;
  .footer-text{
    
  }
}