.flip-card {
  width: 100%;
  height: 25rem;
  perspective: 1000px;
  cursor: pointer;
}

.flip-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.8s ease;
}

.flip-inner.flipped {
  transform: rotateY(180deg);
}

.flip-front,
.flip-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  backface-visibility: hidden;
  overflow: hidden;
}

.flip-front {
  background: #fff;
  color: #111;
  display: flex;
  flex-direction: column;
}

.flip-front .image-container {
  position: relative;
  width: 100%;
  height: 80%;
  flex-shrink: 0;
  object-fit: contain;
  overflow: hidden;
}

.flip-front .content {
  padding: 1rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #113555;
  color: #ffffff;
   @media (min-width: 768px) and (max-width: 1000px) {
    padding: 0;
  }
}

.flip-front .title {
  font-size: 1.25rem;
  font-weight: bold;
}

.flip-front .description {
  font-size: 0.9rem;
}

.flip-back {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background: linear-gradient(273deg, #112840 0%, #154467 35%, #1f6692 100%);
  color: #fff;
  transform: rotateY(180deg);
  padding: 1.5rem;
  text-align: center;
   @media (max-width: 385px) {
   padding: 0.2rem 1rem 0.5rem 1rem;
  }
}

.flip-back .stack-title {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.flip-back .stack-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  list-style: none;
  padding: 0;
  margin-top: 1rem;
  @media (max-width: 385px) {
    margin-top: 0.3rem;
  }
}

.flip-back .stack-list li {
  background: #112840;
  padding: 0.3rem 1rem;
  border-radius: 10px;
  color: #ffffff;
  @media (max-width: 385px) {
   padding: 0.2rem 0.6rem;
   font-size: 1rem;
  }
}

.flip-back .project-link {
  display: inline-block;
  margin-top: 1.5rem;
  padding: 0.5rem 1rem;
  background: #0d141f;
  border-radius: 0.5rem;
  text-decoration: none;
  color: #fff;
  transition: background 0.3s ease;
  @media (max-width: 385px) {
    margin-top: 0.5rem;
    padding: 0.3rem 0.5rem;
  }
}

.flip-back .project-link:hover {
  background: #113555;
}

.flip-card:hover .flip-front,
.flip-card:hover .flip-back {
  box-shadow: 0 15px 35px rgba(59, 130, 246, 0.6);
}

.section-title {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 3rem;
  color: #1f2937;
}

.project-container {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin: 3rem 0;
}

.project-number {
  font-size: 5rem;
  font-weight: 800;
  color: #e5e7eb;
  flex-shrink: 0;
  min-width: 120px;
  text-align: center;
  transition: color 0.3s ease;
}

.flip-card-wrapper {
  flex-grow: 1;
}

.number-left {
  flex-direction: row;
}

.number-right {
  flex-direction: row-reverse;
}

@media (max-width: 500px) {
  .flip-front .image-container {
    height: 70%;
  }
}
